extends ../layout

block content
  a(href='../bicicletas/create') Ir a Create
  table.table
    thead
      tr
        th(scope="col") Num
        th(scope="col") Color
        th(scope="col") Modelo
        th(scope="col") Ubicacion
        th(scope="col")
    tbody
      each bici in bicis 
        tr
          td=bici.id
          td=bici.color 
          td=bici.modelo
          td=bici.ubicacion
          td
             form.inLine(action='bicicletas/'+ bici.id + '/delete' method='post')
                input#lat(type='hidden' name='id' value=bici.id)
                button.link-button(type='submit' value='Delete' class='btn')
                    ='Eliminar'