extends ../layout
block content
    .container.page-section
        .row
            .col-12(style="display: flex; flex-direction: row; justify-content: space-between")
                h2.text-uppercase.text-secondary.mb-0 Listado bicicletas
                a(href="/bicicletas/agregar")
                    button.btn.btn-primary.btn-lg(style="margin-bottom: 1em") Agregar
        .row
            .col-12
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') Id
                            th(scope='col') Color
                            th(scope='col') Modelo
                            th(scope='col') Ubicación
                            th(scope='col') Acciones
                    tbody
                        each bici in bicis
                            tr
                                th(scope='row') 
                                    =bici.id
                                td=bici.color
                                td=bici.modelo
                                td=bici.ubicacion
                                td
                                    .container-fluid
                                         .row
                                            .col-12(style="display: flex; flex-direction: row; justify-content: space-around")
                                                form(action="bicicletas/"+bici.id+"/eliminar", method="post")
                                                    input(type="hidden", name="id", value= bici.id)
                                                    button.btn.btn-primary.btn-sm(type="submit") Eliminar
                                                form(action="bicicletas/"+bici.id+"/editar", method="get")
                                                    input(type="hidden", name="id", value= bici.id)
                                                    button.btn.btn-primary.btn-sm(type="submit") Editar