body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  padding-top: 5rem;

}

a {
  color: #00B7FF;
}

#main_map {
   height: 600px ;
   border: 5px;
   padding-top: 0px;
   border-block-color: red;
   

}